body {
  .container {
    margin-bottom: 6rem;
    padding: 1rem;
  }

  textarea:focus, input:focus{
    outline: none !important;
  }

  margin-top: -1px !important;
  overflow-y: scroll;
  overflow-x: hidden;

  h2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  h3 {
    text-align: center;
    padding: 0.5rem;
  }
  h4 {
    margin-top: 2rem;
  }
  h6 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .button-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    max-width: none;
  }

  .name {
    text-align: center;
  }

  .btn-success {
    width: 100%;
  }

  .alert-notification {
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 20px;
    background-color: #36a8f4;
    color: white;
  }
}
