.session {
  h1 {
    text-align: center;
  }

  .container {
    padding: 0;
  }

  .ant-collapse-content-box {
    padding: 0 !important;

    span.ant-input-prefix {
      opacity: 0.65;
    }
  }

  .time {
    position: fixed;
    text-align: center;
    display: inherit;
    font-size: 1.5rem;
    background-color: #262629;
    z-index: 1000;
    width: 10rem;
    color: white;
    left: 50%;
    top: 1%;
    margin-left: -5rem;

    .ant-statistic-title, .ant-statistic-content-value {
      color: white !important;
    }
  }

  button.check {
    width: 100%;
  }

  .buttons {
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;

    .btn {
      width: 10rem;
    }
  }
}
